/* Navigation Bar Styling */

/* Ensure the body takes full viewport height */
html, body {
  height: 100%;
  margin: 0;
}

#app { /* Asegúrate de que este ID coincida con el contenedor principal de tu React app */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Uso de Viewport Height para asegurar que tome toda la altura de la ventana */
}

/* Flex container to hold everything */
#root, .app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  background-color: #007bff; /* Bootstrap primary color */
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.nav-link {
  color: #000000 !important; /* White text for better contrast */
}

.nav-link:hover {
  background-color: #92aecc; /* Darker blue on hover */
  border-radius: 20px;
}

.navbar-expand{
  justify-content: space-between;

}


/* Footer Styling */
footer {
  padding: 20px 0;
  background-color: #007bff;
  color: white;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* General Form and Card Enhancements */
.card {
  background-color: #f8f9fa; /* Slightly off-white background */
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

input[type="text"], input[type="password"], .form-control {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }

  .card-container.card {
    width: 100%; /* Full width on smaller screens */
    padding: 20px;
  }
}
