.design-form-container {
    background-color: #fff !important;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc !important;
    border-radius: 5px;
  }

  .design-container{
    width: 1200px;
    max-height: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: #ffffff;
  }
  
  .design-header {
    background-color: #0056b3; /* A darker shade of blue for better contrast */
    color: white;
    padding: 20px 15px;
    border-radius: 10px 10px 0 0;
    text-align: center; /* Center align the header text */
  }

  .design-header h2 {
    color: white;
    margin: 0; /* Remove margin for better alignment */
  }
  .design-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .design-form-container label {
    margin-bottom: 5px;
  }

  .card-body {
    padding: 20px;
    text-align: left;
    max-width: 35%; /* Ensure content text is aligned to the left */
  }
  
  .design-form-container input[type="text"],
  .design-form-container input[type="email"],
  .design-form-container input[type="file"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .design-form-container button[type="submit"],
  .design-form-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .design-form-container button[type="submit"]:hover,
  .design-form-container button:hover {
    background-color: #0056b3;
  }
  
  .design-form-container p {
    margin-top: 10px;
    color: #28a745;
  }
  
  .design-form-container p.error {
    color: #dc3545;
  }
  
  body {
    background-image: url('../../images/fondo.jpg');
    background-size: cover; 
    background-position: center; 
}
