

.footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  font-size: 15px;
  margin-top: auto; /* Empuja el footer hacia abajo */
  width: 100%;
  box-sizing: border-box;
}

.footer a {
  color: #ffffff;
  text-decoration: none; /* Sin subrayado */
  font-size: 12px; /* Tamaño de fuente más pequeño para los enlaces */
}

.footer a:hover {
  text-decoration: underline;
}

.container {
  max-width: 100%;
  margin: auto;
  padding: 10px 0px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: white;
}