.printer-container {
    width: 1200px;
    max-height: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: #ffffff;
  
}

.misimpresoras-header {
  background-color: white;
  padding: 20px 15px;
  border-radius: 10px 10px 0 0;
  text-align: center; /* Center align the header text */
}

.misimpresoras-header h2 {
  background-color: #007bff;
  margin: 0; 
  color: white;
  padding: 15px;
  border-radius: 10px 10px 0 0;
}

.misimpresoras-content {
  padding: 20px;
  text-align: left; /* Ensure content text is aligned to the left */
}

.card-square {
  transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.card-square:hover {
  transform: translateY(-5px); /* Slight lift effect on hover */
}

.btn {
  margin-top: 10px; /* Provide spacing above the buttons */
}

.btn-primary {
  background-color: #04b81c9f; /* A vibrant blue for the primary button */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
  height: 50%;
}

.Alert {
  margin-top: 10px; /* Provide spacing above the alert for better visual separation */
}


